body {
  font-family: Arial, sans-serif;
  user-select: none;
  overflow: hidden;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#omrSheet{
  transform: scale(0);
  margin-top: 50px;
  transition: 0.8s;
}
.exam-start{
  transform: scale(1) !important;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

label {
  margin-right: 10px;
}

timer {
  width: fit-content;
  height: 2em;
  position: fixed;
  display: flex;
  font-size: 1.5em;
  opacity: 0.7;
  flex: 1 1 0%;
  z-index: 1;
  top: -5px;
  left: calc(100% - 30px);
  align-items: center;
  transform: translateX(-100%);
  transition: 0.8s;
}
.before-start{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

timer > *{
  margin: 5px;
}

start > i{
  font-size: 1.5em;
  color: #0084ff;
}


input[type="button"]{
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 39px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 8px;
  margin-top: 8px;
}

#savenext{
  background-color: #0c7cd5;
  border-color: 1px solid #333;
  color: #ffffff;
  margin-left: 5px;
  line-height: 33px;
  float: right;
}
#savenext:hover{
  border: 1px solid #333;
}


#clearResponse{
  outline: none;
}

#clearResponse:hover{
  background-color: #0c7cd5;
  border: 1px solid #333;
  color: #ffffff;
}

.calculator-icon-container{
  width: 100vw;
  background: grey;
  height: fit-content;
}

header {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #f2f2f2;
  height: 35px;
  flex-direction: row-reverse;
  cursor: pointer;
  z-index: 5;
  align-items: center;
}

.calc-icon {
  background: url(https://www.digialm.com//OnlineAssessment/images/Icon-sprite.png) no-repeat -148px -91px;
  display: block;
  height: 26px;
  width: 20px;
}

